input{
-webkit-transition: all 0.5s ease-in; -moz-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in; transition:all 0.5s ease-in;
}
input:hover{-webkit-transform:scale(1.15);-moz-transform:scale(1.15);-o-transform:scale(1.15);transform:scale(1.15);
}
.head-photo input:hover{box-shadow:0 2px 10px 2px #2d8be9;-webkit-transform:scale(1.15);-moz-transform:scale(1.15);-o-transform:scale(1.15);transform:scale(1.15);
}
.goHome{
    position: absolute;
    top: 2%;
    left: 5%;
}
.writeNote{
    position: absolute;
    top: 2%;
    left: 10%;
}
.photos{
    position: absolute;
    top: 2.5%;
    left: 15%;
}
.head-photo{
    position: absolute;
    top: 2%;
    right: 10%;
}
.login{
    position: absolute;
    top: 85px;
    left: 540px;
    z-index: 999;
}
.img-rounded{
    outline:none;
}
.personal{
    position: absolute;
    top: 78px;
    right: 396px;
    z-index: 999;
}
.nav{
    outline:none;
}
.userName{
    border-bottom:#000000 solid 1px;
    position: absolute;
    top: 5%;
    right: 5%;
}
