input{
-webkit-transition: all 0.5s ease-in; -moz-transition:all 0.5s ease-in; transition:all 0.5s ease-in;outline:none;
}
input:hover{-webkit-transform:scale(1.08);-moz-transform:scale(1.08);-o-transform:scale(1.08);transform:scale(1.08);
}
.homeContent{
    position: absolute;
    width: 100%;
    height: 100%;
}

.serarch{
    position: absolute;
    top: 250px;
    right: 45%;
}
.showCarousel{
    height: 100%;
    width: 100%;
}
