input{
-webkit-transition: all 0.5s ease-in; -moz-transition:all 0.5s ease-in; transition:all 0.5s ease-in;outline:none;
}
input:hover{-webkit-transform:scale(1.08);-moz-transform:scale(1.08);-o-transform:scale(1.08);transform:scale(1.08);
}
.homeContent{
    position: absolute;
    top: 90px;
    left: 0px;
    width: 100%;
    height: 85%;
}

.home-img-left{
    position: absolute;
    top: 350px;
    left: 2px;
}
.home-img-right{
    position: absolute;
    top: 350px;
    right: 2px;
}
.serarch{
    position: absolute;
    top: 250px;
    right: 45%;
}
.dotImg0{
    width: 20px;
    height: 20px;
    background-image: url(./assets/image/dot.png);
    position: absolute;
    top: 580px;
    right: 55%;

}
.dotImg1{
    width: 20px;
    height: 20px;
    background-image: url(./assets/image/dot.png);
    position: absolute;
    top: 580px;
    right: 50%;
}
.dotImg2{
    width: 20px;
    height: 20px;
    background-image: url(./assets/image/dot.png);
    position: absolute;
    top: 580px;
    right: 45%;
}
.dot-selectImg{
    background-image: url(./assets/image/dot-select.png);
}