<div class="homeContent">
  <div class="home-img-left">
    <input type="image" src="../assets/image/left.png" width="100px;" height="100px;" (click)="onLeft($event)">
  </div>
  <div class="home-img-right">
    <input type="image" src="../assets/image/right.png" width="100px;" height="100px;" (click)="onRight($event)">
  </div>
  <div class="home-img">
    <!--<img src="{{homeImg}}">-->
    <div class="dotImg" *ngFor="let HomeImg of homeImgArray;let i = index;">
      <div class="dotImg{{i}}" [ngClass]="{'dot-selectImg':homeImg===HomeImg}">
      </div>
    </div>
  </div>
  <div class="serarch">
    <app-search></app-search>
  </div>
</div>