.setting-nav {
    white-space: nowrap;
    width: 200px;
    height: 100%
}

.nav {
    width: 200px;
    height: 60px;
    cursor: pointer;
}

.select {
    background: linear-gradient(to right, green 5%, white 5%);
    color: green;
}

.nav-sub {
    text-align: center;
    line-height: 60px;
}

div {
    outline: none;
}