<div id="login" style="background-image: url(../assets/image/timg-2.jpg)" class="img-rounded" width="400px" height="600px">
    <input type="image" src="../assets/image/close.png" width="40px" height="40px" (click)="onCloseClick($event)" class="onClose">
    <div class="from">
        <form class="form-group" (submit)="Login($event)">
            <div class="form-group has-success" [ngClass]="{'form-group has-error':isRight}" id="name">
                <label class="control-label">{{tips}}</label>
                <input type="username" class="form-control" id="username" (blur)="checkName($event)" (focus)="showHelp($event)">
            </div>
            <div class="form-group has-success" [ngClass]="{'form-group has-error':isRight}" id="pw">
                <label class="control-label">请输入密码：</label>
                <input type="password" class="form-control" id="password">
                <span class="tips" *ngIf="isRight"><img src="../assets/image/error.png" width="20px" height="20px">用户名或密码输入不正确！</span>
            </div>
            <button type="reset" class="btn btn-success" id="reset" (click)="resetClick($event)">重置</button>
            <button type="submit" class="btn btn-success" id="submit">登陆</button>
            <div>
            </div>
        </form>
        <button type="reg" class="btn btn-success" (click)="regClick($event)">注册</button>
    </div>
</div>