<div class="login">
    <img src="../assets/image/login.jpg" class="img-rounded" width="400px" height="600px">
    <div class="from">
        <form class="form-group" (submit)="Login($event)">
            <div class="form-group has-success" [ngClass]="{'form-group has-error':isRight}" id="name">
                <label class="control-label">{{tips}}</label>
                <input type="username" class="form-control" id="username" (blur)="checkName($event)" (focus)="showHelp($event)">
            </div>
            <div class="form-group has-success" [ngClass]="{'form-group has-error':isRight}" id="pw">
                <label class="control-label">请输入密码：</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="reset" class="btn btn-success" id="reset">重置</button>
            <button type="submit" class="btn btn-success" id="submit">登陆</button>
        </form>
    </div>
</div>